language: php

php:
    - "5.4"
    - "5.5"
    - "5.6"
    - "7.0"

before_script:
    - composer install

script:
    - vendor/bin/behat

matrix:
    allow_failures:
        - php: "7.0"
    fast_finish: true
